body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfdfdf;

}

.sign-in-part {
  width: 23%;
  float: right;
  display: block;
  overflow: hidden;
  margin: 10px;
}

.center {
  margin: auto;
  width: 40%;
  padding: 40px;
  height: auto;
}

.centerbase {
  margin: auto;
  padding-top: 100px;
  width: auto;
}
 
.top_image {
  padding-bottom: -20px;
}

.img_fix {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 80px;
}

 .form-div {
  background-color: #fff;
  border: 1px;
  display: block;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

 /*Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  opacity: 0.9;
}

#btnSignup{
  width: 100%;
  padding: 12px 1px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  /*
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  */
}

#pcreateAccountL {
  float: left;
}

#pcreateAccountR {
  float: right;
}

#btn {
  width: 100px;
}

#midTop {
  margin: auto;
}

#pcreate {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

#psub {
  font-size: 12;
  text-align: center;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

 #container {
  width: 32%;
  margin: 0 auto;
  display: block;
  margin: auto;
  width: 450px;
  padding: 10px;
  border: 1pt  solid rgb(11, 12, 10); 
}

