* {
  box-sizing: border-box
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DfDfDf;
}

form {
  border:1px solid #ccc;
}

.sign-in-part {
    width: 23%;
    float: right;
    display: block;
    overflow: hidden;
    margin: 10px;
}

.center {
    margin: auto;
    width: 40%;
    padding: 40px;
}

.centerbase {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.top_image {
    padding-bottom: -20px;
}

.img_fix {
    margin: 0px;
    padding: 0px;
    width: 120px;
    height: 80px;
}

.center .form-div {
    background-color: #fff;
    border: 1px;
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 33%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border:1px solid #cdcdcd;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  display:block;
  background:none;
  background-image:none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 34%;
  opacity: 0.9;
}

#pcreateAccountL {
  float: left;
}

#pcreateAccountR {
  float: right;
}

#btn {
  width: 100px;
}

#midTop {
  margin: auto;
}

#pcreate {
  font-size: 22px; 
  text-align: center; 
  font-weight: bold;
}

#psub {
  font-size: 12; 
  text-align: center;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}